.ticketList_sortContainer {
  display: flex;
  margin-bottom: 20px;
}

.ticketsList_SortButton {
  flex-grow: 1;
  cursor: pointer;
}

.ticketsList_SortButtonText {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background: #fff;
  color: #4A4A4A;
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.ticketsList_SortCheckbox:checked + .ticketsList_SortButtonText {
  background: #2196F3;
  color: #FFFFFF;
}

.ticketsList_SortButton:first-child .ticketsList_SortButtonText {
  border-radius: 5px 0 0 5px;
}

.ticketsList_SortButton:last-child .ticketsList_SortButtonText {
  border-radius: 0 5px 5px 0;
}

.ticketsList_SortCheckbox {
  appearance: none;
  position: absolute;
}

.ticketsList_List {
  margin: 0;
  padding: 0;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: minmax(auto, 502px);
  grid-template-rows: repeat(auto-fill, max-content);
}

.ticketsList_Item {
  list-style: none;
}
